body {
  margin: 0;
}
.top {
  background: #6943FF;
  padding-bottom: 1.3em;
}

.bottom {
  background: #F4F4F4;
}
.metrics {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.boxer {
  background: white;
  border: white 1em solid;
  border-radius: 5em;
  margin: .5em;
}

h1 {
  text-align: center;
  font-size: 1em;
}

p {
  text-align: center;
  font-size: .8em;

}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: #6943FF ;
  width: 117px;
height: 83px;
top: 101px;
left: 217px;
border-radius: 5px;
border: 1.5px white solid;
text-align: center;
border-color: white;
font-size: 4.5em;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .6em;
  background: white;
  border-radius: 5px;
  border: none;
  padding: .1em 2.2em;
}
.end {
  border: 1em white solid;
  border-radius: 5em;
  background: white;
}