body {
    background: #6943FF;
    
  }
  .p1 {
       background: #6943FF;
     color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px; /* 135.714% */
  letter-spacing: -0.84px;
  }
  input {
      padding: 5px;
      background: #6943FF;
      border-color: white;
      color: white;
      border: 1px solid #FBFBFB;
     width: 65px;
  height: 65px;
  color: white;
  text-align: center;
  }
  
  button {
   margin: auto;
  background: #FFF;
  border: none;
  border-radius: 5px;
  
  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }
  
  .p11 {
      
  }
  
  .top {
     background: #1F2937;
    box-sizing: border-box;
    
  }
  
  
  .one {
   width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
  
  }
  .two {
      width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
  }
  .three {
       width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
  }